.custom-style-wrapper {
    text-align: center;
    padding: 40px 15px;
}

.primary-input {
    margin-top: 80px;
}

.speaker-input {
    display: inline-block;
    padding-right: 15px;
}

.sentence-input {
    display: inline-block;
}
